/* Estilos para el componente principal de la aplicación */
main {
  padding: 0rem 0; /* Ajustar el padding a 0 para que ocupe todo el ancho */
  margin: 0 auto; /* Centrar el contenido */
  width: 100%; /* Asegurar que el main ocupe todo el ancho */
  max-width: 1200px; /* Ancho máximo para el contenido */
  box-sizing: border-box; /* Incluir padding y border en el ancho total */
  flex: 1; /* Permite que el main ocupe el espacio restante */
  display: flex;  
  flex-direction: column;
  min-height: calc(100vh - 1080px);
  margin-bottom: 60px; /* Añadir margen inferior para el footer */
}

/* Agregar estos estilos para el contenedor principal */
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}